# git rm -r --cached for removing files which are already committed
00_debug.ipynb
*.sh
*.csv
*.dat
/misc
/data/
/Rmodels/rlib
/Rmodels/logs
/Rmodels/old
/Rmodels/raw
/MLmodels/models
/MLmodels/misc
/MLmodels/gebvs
*.RData
*.rdscd 
*.joblib
*.pth
*.err
*.out
core.*