# git rm -r --cached for removing files which are already committed
00_debug.ipynb
*.csv
*.dat
/misc
/4paul/rlib
/4paul/logs
/4paul/old
/4paul/raw
/models
*.RData
*.rdscd 
*.joblib
*.pth
*.err
*.out
core.*